/* ==========================================================================
   Reset
========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Root
========================================================================== */

:root {
  --shadow-color: 0deg 0% 27%;
  --shadow-elevation-low:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.42),
    0.4px 0.4px 0.6px -1.4px hsl(var(--shadow-color) / 0.39),
    1px 1.1px 1.6px -2.7px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-medium:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.44),
    0.8px 0.8px 1.2px -0.9px hsl(var(--shadow-color) / 0.42),
    2.1px 2.1px 3.2px -1.8px hsl(var(--shadow-color) / 0.4),
    5.2px 5.3px 8.1px -2.7px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-high:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.41),
    1.4px 1.5px 2.2px -0.4px hsl(var(--shadow-color) / 0.4),
    2.7px 2.8px 4.2px -0.8px hsl(var(--shadow-color) / 0.39),
    4.6px 4.7px 7.2px -1.2px hsl(var(--shadow-color) / 0.38),
    7.5px 7.6px 11.6px -1.6px hsl(var(--shadow-color) / 0.37),
    11.9px 12.1px 18.5px -2px hsl(var(--shadow-color) / 0.36),
    18.3px 18.7px 28.5px -2.4px hsl(var(--shadow-color) / 0.35),
    27.2px 27.7px 42.2px -2.7px hsl(var(--shadow-color) / 0.34);
}

/* ==========================================================================
   Body
========================================================================== */

#body {
  background-image: linear-gradient(#403D39, #252422);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  /* background-color: #403D39; */
  height: 100vh;
}

.leaderboard-names-container p {
  font-size: 1.2rem;
  color: #fffcf2; 
}

.ant-btn-primary {
  background-color: #EB5E28;
  box-shadow: var(--shadow-elevation-high);
}

.ant-btn-primary:hover {
  border-color: #CCC5B9;
  background-color: #EB5E28;
  transform: scale(1.1);
}

.ant-btn-primary:active {
  border-color: #CCC5B9;
  translate: 0 0.5rem;
  color: #CCC5B9;
}

/* ==========================================================================
   Header
========================================================================== */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  height: 10rem;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  place-items: center;
  height: 100%;
  width: 60%;
}
.title {
  place-self: center start;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 60%;
  gap: 2rem;
}

.nav-link {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  color: #252422;
  /* background-color: #CCC5B9; */
  background-image: linear-gradient(#CCC5B9, #FFFCF2);
  box-shadow: var(--shadow-elevation-medium);
}

.donate-link {
  /* background-color: #EB5E28; */
  background-image: linear-gradient(#EB5E28, #252422);
  color: #fffcf2;
}

.active {
  /* background-color: #403D39; */
  background-image: linear-gradient(#252422, #252422);
  color: #fffcf2;
}

.nav-link:hover {
  /* background-color: #4096ff; */
  background-image: linear-gradient(#4096ff, #4096ff);
  color: #fffcf2;
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(1.1);
  translate: 0 0.25rem;
  background-color: #EB5E28;
  color: #CCC5B9;
}

/* ==========================================================================
   Sign up and Login Pages
========================================================================== */

.info-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  place-items: center;
  height: 60%;
  width: 60%;
  margin: 0 auto;
}

.info-container h2{
  place-self: end center;
}

.info-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  width: 100%;
  gap: 2rem;
}

/* ==========================================================================
   Search Page
========================================================================== */

.search-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  place-items: center;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.search-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}

.results {
  width: 100%;
}

/* ==========================================================================
   Donate Page
========================================================================== */

.donate-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  text-align: center;
  place-items: center;
  height: 75%;
}

.donate-section {
  height: 100%;
  width: 80%;
}

.donations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 2fr;
  gap: 1rem;
  height: 100%;
  place-items: center;
}

.donate-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  place-self: center;
  height: 100%;
  width: 60%;
}

.stripe-logo {
  place-self: start center;
  height: 50%;
}

.leaderboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  height: 100%;
  place-items: center;
  background-color: #161616;
  border-radius: 2rem;
}

.leaderboard-names-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

/* ==========================================================================
   Songlist
========================================================================== */

.search-result-container {
  width: 50%;
  margin: 0 auto;
}

.ant-collapse-header {
  border: none;
}

.ant-collapse-header-text {
  font-size: 1.2rem;
  color: #FFFCF2;
}

.ant-collapse-content {
  font-size: 1.1rem;
}

.ant-collapse-content-box {
  background-color: #252422;
}

.ant-collapse-expand-icon {
  color: #FFFCF2;
}

.custom-collapse {
  border: none;
  border-radius: 0.5rem;
}