/* ==========================================================================
   Reset
========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Body
========================================================================== */

.body-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  background-color: #252422;
  height: 100vh;
}

/* ==========================================================================
   Header
========================================================================== */

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  height: 10rem;
  background-color: #252422;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 60%;
  gap: 2rem;
}

.nav-link {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  background-color: #CCC5B9;
}

.active {
  background-color: #EB5E28;
  color: #CCC5B9;
}

.nav-link:hover {
  background-color: #403D39;
  color: #CCC5B9;
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(1.1);
  translate: 0 0.25rem;
  background-color: #EB5E28;
  color: #CCC5B9;
}

/* ==========================================================================
   Donate Page
========================================================================== */

.donate-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  text-align: center;
  place-items: center;
  height: 75%;
}

.donate-section {
  background-color: #403d39;
  height: 100%;
  width: 80%;
  border-radius: 2rem;
}

.donations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 1rem;
  height: 100%;
  place-items: center;
}

.donate-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  place-self: center;
  height: 80%;
  width: 60%;
}

.leaderboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 1rem;
  height: 100%;
  place-items: center;
}

.leaderboard-names-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.leaderboard-names-container p {
  font-size: 1.2rem;
  color: #fffcf2; 
}

.ant-btn-primary {
  background-color: #EB5E28;
}

.ant-btn-primary:hover {
  border-color: #CCC5B9;
  background-color: #EB5E28;
  transform: scale(1.1);
}

.ant-btn-primary:active {
  border-color: #CCC5B9;
  translate: 0 0.5rem;
  color: #CCC5B9;
}