/* ==========================================================================
   Songlist
========================================================================== */

.search-result-container {
  width: 50%;
  margin: 0 auto;
}

.ant-collapse-header {
  border: none;
}

.ant-collapse-header-text {
  font-size: 1.2rem;
  color: #fffcf2;
}

.ant-collapse-content {
  font-size: 1.1rem;
}

.ant-collapse-content-box {
  background-color: #252422;
}

.ant-collapse-expand-icon {
  color: #fffcf2;
}

.custom-collapse {
  border: none;
  border-radius: 0.5rem;
}

.header-with-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-container {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px; /* Adjust the margin as needed */
}

.heart-icon.saved {
  color: red;
}

.success-message {
  width: 30%;
  padding-top: 2vh;
  margin: 0 auto;
}